/* Fonts  */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kaushan+Script&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Variables */
:root {
    --d-yellow: #c59d5f;
    --light: #f9f9f9;
    --dark: #222;
    --Pcolor: #a5a5a5;
    --font-Kuashan: "Kaushan Script", cursive;
    --font-Great: "Great Vibes", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
}

/* body {
    height: 3000px;
} */

/* Global Elements */
.btn {
    font-size: 14px;
    color: var(--light);
    background-color: var(--d-yellow);
    padding: 10px 15px;
    text-transform: uppercase;
    transition: 0.1s;
}

.btn:hover {
    color: var(--d-yellow);
    background-color: var(--light);

}

.bg-overlay::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(27, 27, 27, 0.65);
    z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-Kuashan);
    color: var(--dark);
}

p {
    color: var(--d-yellow);
    font-size: 14px;
}

span {
    color: var(--d-yellow);
    font-family: var(--font-Great);
}

section {
    padding: 100px 0 0;
    text-align: center;
}

section .container {
    width: 85%;
    margin: auto;
}

.sec-head {
    position: relative;
    z-index: 2;
}

.sec-head span {
    font-size: 35px;
}

.sec-head h2 {
    color: var(--dark);
    font-size: 45px;
}

.boxs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.boxs .box {
    flex-basis: 31.5%;
}

.small-sec {
    position: relative;
    padding: 180px 0;
    margin-bottom: 100px;
    width: 100%;
}

.small-sec .sec-head h2 {
    color: var(--light);
}

.arrow-bottom,
.arrow-top {
    content: "";
    position: absolute;
    width: 92px;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}

.arrow-top {
    background: url(../images/arrow-up.png);
    top: -1px;
}

.arrow-bottom {
    background: url(../images/arrow-down.png);
    bottom: -1px;
}

/* Start Header */
.header {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    border-bottom: 1px solid var(--light);
}

.header nav {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header nav .logo {
    color: var(--light);
    font-size: 40px;
    font-family: var(--font-Great);
    font-weight: bold;
    letter-spacing: 2px;
}

.header nav .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav ul li {
    display: inline-block;
    margin: 0 30px;
    height: 100px;
    position: relative;
    line-height: 100px;
}

.header nav ul li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--d-yellow);
    width: 0;
    height: 2px;
    transform: 0.3s;
}

.header nav ul li:hover::after,
.header nav ul li.active::after {
    width: 100%;
}

.header nav ul li a {
    color: var(--light);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

/* Header on Scroll */
.header.active {
    background-color: var(--light);
}

.header.active nav ul li a {
    color: var(--dark);
}

.header.active nav .btn {
    color: var(--dark);
    border: 1px solid var(--d-yellow);
}

.header.active nav .btn:hover {
    color: var(--d-yellow);
}

.header.active nav .logo {
    color: var(--dark);
}

/* Icons */
#openmenu,
#book {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--light);
    border: 2px solid var(--light);
    background-color: var(--d-yellow);
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#openmenu {
    right: 30px;
}

#book {
    right: 70px;
}


/* Media Query  */
@media(max-width:991px) {
    .header nav {
        width: 90%;
    }

    .header nav ul li {
        margin: 15px;

    }

    .header nav ul li a {
        font-size: 12px;
    }
}

@media(max-width:768px) {

    #openmenu,
    #book {
        display: block;
    }

    .header nav .menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #444;
        padding: 10px;
        flex-wrap: wrap;
        transition: 0.3s;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header nav .menu.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header nav .menu ul {
        width: 100%;
    }

    .header nav .menu ul li {
        display: block;
        padding: 0 20px;
        margin: 10px auto;
        height: 50px;
        line-height: 50px;
        background-color: #222;
        transition: 0.2s;
    }

    .header.active nav ul li a {
        color: var(--light);
    }

    .header nav .menu ul li.active,
    .header nav .menu ul li:hover {
        background-color: var(--d-yellow);
    }

    .header nav .btn,
    .header nav .menu ul li::after {
        display: none;
    }
}

/* End Header */

/* Start Home */
.home .home-slider .slide1 {
    background: url(../images/home-1.jpg);
}

.home .home-slider .slide2 {
    background: url(../images/home-2.jpg);
}

.home .home-slider .slide3 {
    background: url(../images/home-3.jpg);
}

.home .home-slider .slide {
    display: flex;
    align-items: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.home .home-slider .slide .content {
    text-align: center;
    width: 80%;
    margin: auto;
    z-index: 2;
}

.home .home-slider .slide .content h3 {
    color: var(--light);
    font-size: 35px;
}

.home .home-slider .slide .content h1 {
    color: var(--light);
    font-size: 80px;
    padding-bottom: 60px;
}

.home .home-slider .slide .content .btn {
    padding: 15px 25px;
    font-weight: 600;
}

.btn-swip {
    height: 70px;
    width: 70px;
    color: var(--light) !important;
}

/* Media Query */
@media(max-width:991px) {
    .home .home-slider .slide .content h3 {
        font-size: 30px;
    }

    .home .home-slider .slide .content h1 {
        font-size: 50px;
    }
}

@media(max-width:768px) {
    .home .home-slider .slide .content h3 {
        font-size: 25px;
    }

    .home .home-slider .slide .content h1 {
        font-size: 40px;
    }

    .home .home-slider .slide .content .btn {
        font-size: 14px;
        padding: 10px 20px;
    }
}

/* End Home */

/* Start About */
.about .content .div-p {
    margin: auto;
    padding: 80px;
}

.about .content .div-p p {
    color: var(--dark);
    font-size: 40px;
    font-family: var(--font-Great);
}

.about .content .boxs .box span {
    font-size: 35px;
    margin-bottom: 15px;
}

.about .content .boxs .box h3 {
    color: var(--dark);
    font-size: 30px;
    margin-bottom: 25px;
}

.about .content .boxs .box p {
    font-size: 14px;
    color: var(--Pcolor);
}

/* Media Query */
@media(max-width:991px) {
    .boxs .box {
        flex-basis: 48%;
        margin-bottom: 40px;
    }
}

@media(max-width:768px) {
    .sec-head span {
        font-size: 28px;
    }

    .sec-head h2 {
        font-size: 35px;
    }

    .about .content .div-p {
        padding: 30px 0 30px;

    }

    .about .content .div-p p {
        font-size: 25px;
    }

    .boxs {
        justify-content: center;
    }

    .boxs .box {
        flex-basis: 100%;
    }
}

/* End About */

/* Start Recipes */
.recipes .small-sec {
    background: url(../images/sec-bg1.jpg), no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.recipes .boxs .box img {
    margin-bottom: 15px;
    width: 100%;
}

.recipes .boxs .box span {
    font-size: 30px;
    margin: 0 15px;
}

.recipes .boxs .box h4 {
    font-size: 28px;
    padding-bottom: 20px;
    color: var(--dark);
}

.recipes .boxs .box p {
    color: var(--Pcolor);
    font-size: 14px;
}

/* End Recipes */

/* Start Menu */
.sec-menu .small-sec {
    background: url(../images/sec-bg2.jpg), no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.sec-menu .content ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.sec-menu .content ul li {
    color: var(--dark);
    font-size: 22px;
    font-family: var(--font-Kuashan);
    cursor: pointer;
    text-transform: capitalize;
    margin: 0 40px;
    transition: 0.3s;
}

.sec-menu .content ul li:hover,
.sec-menu .content ul li.active {
    color: var(--d-yellow);
}

.sec-menu .boxs .box {
    margin-bottom: 40px;
}

.sec-menu .boxs .box img {
    width: 100%;
}

.sec-menu .boxs .box .name-price {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 15px;
    align-items: center;
}

.sec-menu .boxs {
    margin-bottom: 40px;
}

.sec-menu .boxs .box h3 {
    font-size: 22px;
    text-transform: capitalize;
    font-family: "Raleway", sans-serif;
}

.sec-menu .boxs .box span {
    font-size: 18px;
    font-family: var(--font-Kuashan);
    font-weight: 500;
}

.sec-menu .boxs .box p {
    text-align: left;
}

.sec-menu .btn {
    background-color: var(--dark);
    color: var(--light);
}

.sec-menu .btn:hover {
    background-color: var(--d-yellow);
}

/* Media Query */
@media(max-width:768px) {
    .sec-menu .content ul li {
        font-size: 18px;
        margin: 0 15px;
    }
}

/* End Menu */

/* Start Team  */
.team {
    padding-bottom: 50px;
}

.team .small-sec {
    background: url(../images/sec-bg3.jpg), no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.team .boxs .box img {
    width: 100%;
    position: relative;
    transition: 0.3s;
}

.team .boxs .box {
    flex-basis: 22%;
    background-color: var(--light);
    box-shadow: 0 0 18px rgb(40, 40, 40/ 12%);
}

.team .boxs .box .title {
    padding: 30px 0;
}

.team .boxs .box .title h5 {
    font-size: 22px;
    margin-bottom: 14px;

}

.team .boxs .box .img-text {
    position: relative;
    overflow: hidden;

}

.team .boxs .box .img-text .text {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #222222cb;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 28px 15px;
    opacity: 0;
    transition: 0.3s;
}

.team .boxs .box .img-text:hover .text {
    opacity: 1;
}

.team .boxs .box .img-text:hover img {
    transform: scale(1.1);
}

.team .boxs .box .img-text .text .cont-text {
    width: 85%;
    bottom: -50%;
    position: absolute;
    margin-bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;

}

.team .boxs .box .img-text:hover .text .cont-text {
    bottom: 0;

}

.team .boxs .box .img-text .text .cont-text .social i {
    margin: 15px 10px;
    color: var(--d-yellow);
    transition: 0.3s;
}

.team .boxs .box .img-text .text .cont-text .social i:hover {
    color: var(--light);
    transform: scale(1.2);
}

.team .boxs .box .img-text .text .cont-text p {
    color: var(--light);
}

/* Media Query */
@media(max-width:991px) {
    .team .boxs .box {
        flex-basis: 40%;
    }
}

@media(max-width:768px) {
    .team .boxs .box {
        flex-basis: 90%;
    }
}

/* End Team  */

/* Start Guest Book */
.guest-book .small-sec {
    background: url(../images/sec-bg4.jpg), no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.guest-book .boxs {
    margin-top: 30px;
}

.guest-book .box {
    z-index: 99;
    background-color: var(--light);
    position: relative;
    padding: 30px 20px;
}

.guest-book .box .ribbon {
    position: absolute;
    top: 0;
    left: 10%;
}

.guest-book .box .stars {

    margin: 0 5px 25px;
}

.guest-book .box .stars i {
    color: #ffc88a;
}

.guest-book .box h5 {
    font-size: 23px;
    font-weight: normal;
    margin-bottom: 30px;
}

.guest-book .box p {
    margin-top: 30px;
    font-size: 18px;
    color: var(--dark);
}

/* End Guest Book */